<div class="container">
	<div ng-if="user != null">
		<div class="row my-info-row">
			<div class="col-sm-2 col-sm-offset-2">First Name:</div>
			<div class="col-sm-4">
				{{user.firstName}}
			</div>
		</div>
		<div class="row my-info-row">
			<div class="col-sm-2 col-sm-offset-2">Last Name:</div>
			<div class="col-sm-4">
				{{user.lastName}}
			</div>
		</div>
		<div class="row my-info-row">
			<div class="col-sm-2 col-sm-offset-2">Email:</div>
			<div class="col-sm-4">
				{{user.email}}
			</div>
		</div>
		<div class="row my-info-row">
			<div class="col-sm-2 col-sm-offset-2">Phone:</div>
			<div class="col-sm-4">
				{{user.phone}}
			</div>
		</div>
		<div class="row my-info-row">
			<div class="col-sm-2 col-sm-offset-2">Favorite:</div>
			<div class="col-sm-8">
				<!-- Let's use existing menu-item component... -->
				<menu-item menu-item="favoriteMenuItem"
						   category-short-name="favoriteMenuItem.categoryShortName"
						   hide-price="true">
				</menu-item>
			</div>
		</div>
	</div>

	<div class="row my-info-row">
		<div class="col-sm-8 col-sm-offset-2" ng-if="user == null">
			Not Signed Up Yet. <a ui-sref="public.sign-up">Sign up Now!</a>
		</div>
	</div>
</div>